.button {
    color: $dark;
    background-color: $light-grey;
    width: 80%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.35));
    border-radius: 20px;
    border: none;
    margin: 10%;
    padding: 3%;
    border: 3px solid white;

    &:hover {
      border: 3px solid $secondary;
    }
  
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 36px;
  }

  .button-small {
    color: $primary;
    width: 200px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.35));
    border-radius: 10px;
    border: $secondary solid 2px;
    margin: 15px;
    padding: 5px;

    &:hover {
        border-color: $fourth;
        filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.35));
    }
  
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
  }

