
@import "@/styles/_fonts.scss";
@import "@/styles/_header.scss";
@import "@/styles/_variables.scss";
@import "@/styles/_buttons.scss";

.profile-image{
    border-radius: 50%;
    height: 50px;
    background-color: black;
    margin-right: 5px;
  }

  .top-left {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  button {
    cursor: pointer;
  }

  .link {
    cursor: pointer;
  }